@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*@font-face {
    font-family: 'Alba';
    src: url('./assets/Alba.eot');
    src: url('./assets/Alba.eot?#iefix') format('embedded-opentype'), url('./assets/Alba.woff2') format('woff2'), url('./assets/Alba.woff') format('woff'), url('./assets/Alba.ttf') format('truetype'), url('./assets/Alba.svg#Alba') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/



html {
    height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    min-height: 100%;
    height: 100%;
   
}

#root {
    display: block;
    overflow: auto;
    height: 100%;
}

#backdrop {
    background-image: linear-gradient(90deg, pink 12.50%, white 12.50%, white 25%, orange 25%, orange 37.50%, green 37.50%, green 50%, pink 50%, pink 62.50%, white 62.50%, white 75%, orange 75%, orange 87.50%, green 87.50%, green 100%);
    background-size: 500.00px 500.00px;
    opacity: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  opacity:100%
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

    .btn:active {
        transform: scale(0.98);
        -webkit-box-shadow: inset 0px 0px 13px grey;
        -moz-box-shadow: inset 0px 0px 13px grey;
        box-shadow: inset 0px 0px 13px grey;
        outline: none;
    }

.btn-block {
  display: block;
  width: 100%;
}

a {
  color: green;
}

a:hover {
  color:red;
}

a:active{
  color: white;
}

a:visited {
  color: green;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

    .task p {
        margin-bottom: 0px;
    }
/*
.add-form {
  margin-bottom: 40px;
}

 .form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

*/
footer {
  margin-top: 30px;
  text-align: center;
}

.pink {

  color: pink;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.taskDetail h3 { 
  text-align: center;
}


.taskForm {
  max-height: 560px;
  display: block;
  transition: max-height 0.5s, opacity 0.5s;
  opacity: 1;
  overflow: hidden;
}
.taskForm.hidden {
 
  pointer-events:none;
  max-height: 0px;
	overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s;
  opacity: 0;
}

.mr-auto.navbar-nav a:nth-child(1).active {
  border-bottom: 3px solid pink;
}


.mr-auto.navbar-nav a:nth-child(2).active {
    border-bottom: 3px solid orange;
}

.mr-auto.navbar-nav a:nth-child(3).active {
    border-bottom: 3px solid green;
}

.mr-auto.navbar-nav a:nth-child(4).active {
    border-bottom: 3px solid white;
}

.container > div > ul {
    padding-left: 10px;
}

.container > div:nth-of-type(2) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container > div:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* how to have a multicolored border
    nav::after {
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, pink 0%, pink 25%, white 20%, white 50%, #ed8034 45%, #ed8034 75%, green 70%, green 100%);
}*/

.popup {
    box-shadow: 0px 0px 3px 3px #808080;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 60%;
    background-color: white;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index:99;
}

.popupForm {
    width: fit-content;
    margin: 0 auto;
    
}

.popupForm form label {
        margin-bottom: .5rem;
        display: block;
        text-align: center;
}

#alertCounter {
    border-radius: 50%;
    display: inline-block;
    background: indianred;
    text-align: center;
    width: 24px;
    height: 24px;
    font-weight: bold;
    color: white;
    margin-left: 2px;
}

.commentSection {
    background: ghostwhite;
    border-radius: 10px;
}

.comment {
    border-bottom: 2px solid lightgrey;
    margin: 5px;
    padding: 2px
}

.commentForm {
    margin: 5px;
    padding-bottom: 4px;
}

    .commentForm > .btn {
        margin-left: 0px;
        margin-right: 0px;
    }